html{
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #d9d9d9;
    color: blue;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 45px;
}

.boards{
    display: flex;
    flex-wrap: wrap;
}

.board{
    background: white;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 1000px;
}

.board:nth-child(2){
    margin-left: 10%;
}

.board h3{
    font-size: 25px;
    padding: 12px;
    margin: 0;
    color: orange;
}

.dropzone{
    padding: 16px;
    width: 200px;
    height: 100%;
}

.card{
    background: blue;
    color: white;
    height: 2%;
    width: auto;
    padding: 16px;
    margin-top: 5%;
    box-shadow: 0px 2px 2px -1px yellow;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
}

.status{
    width: 10px;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.green{
    background: lightgreen;
}

.highlight{
    background: rgb(163, 242, 245);
}

.cards, .dropzone{
    transition: 700ms;
}

.dragging{
    opacity: 0.4;
}

.over{
    background: rgb(133, 184, 201);
}